$fontWeight: (
  400,
  600,
  700,
  900
);
$fontStyles: (
  'normal',
  'italic'
);

@each $weight in $fontWeight {
  @each $style in $fontStyles {
    @font-face {
      font-family: 'SourceSansPro';
      src: url('/fonts/SourceSansPro-#{$weight}-#{$style}.ttf');
      font-weight: #{$weight};
      font-style: #{$style};
      font-display: swap;
    }
  }
}