$clr-neutral-0: #ffffff;
$clr-neutral-100: #d4d3d3;
$clr-neutral-400: #444444;
$clr-neutral-900: #111111;
$clr-accent-yellow: #fdd301;
$clr-accent-red: #de001a;

$font: "SourceSansPro", sans-serif;

$sprite: "/img/sprites.png";